<html>
  <head></head>
  <body>
    <h2>thông tin học sinh</h2>
    <table border="1" [width]="800" align="center">
      <tr>
        <th [width]="100">id sinh viên</th>
        <th [width]="100">tên sinh viên</th>
        <th [width]="100">địa chỉ</th>
        <th [width]="100">ngày sinh</th>
        <th [width]="100">quê quán </th>
        <th [width]="100">số điện thoại</th>
        <th [width]="100"><button><a href="them.component.html">thêm thông tin</a></button></th>
      </tr>
    </table>
  </body>
  <footer></footer>
</html>