<html>
    <head></head>
    <body>
        <h2>thêm thông tin sinh viên</h2>
        <table align="center">
            <tr><td>tên sinh viên</td><td><input type="text" name="tensv"></td></tr>
            <tr><td>địa chỉ</td><td><input type="text" name="diachi"></td></tr>
            <tr><td>ngày sinh</td><td><input type="text" name="ngaysinh"></td></tr>
            <tr><td>quê quán</td><td><input type="text" name="quequan"></td></tr>
            <tr><td>số điện thoại</td><td><input type="text" name="sdt"></td></tr>
           
        </table>
    </body>
    <footer></footer>
</html>